In [1]:
import pandas as pd
import requests as r
from io import BytesIO
import numpy as np
import os
import json

In [15]:
def query(q,url='http://85.193.83.20:8123',format=True,**kwargs):
    if format:
        return pd.read_csv(BytesIO(r.post(url=url,
            data=(q+'\nFORMAT CSVWithNames').encode('utf-8'),
            auth=('crypto_etl','0987654321')).content),**kwargs)
    else:
        return r.post(url=url,
                data=q.encode('utf-8'),
                auth=('crypto_etl','0987654321'))

In [21]:
query('''

select

count()

from crypto.du_data

''')

Empty DataFrame
Columns: [Code: 60. DB::Exception: Table crypto.du_data doesn't exist. (UNKNOWN_TABLE) (version 22.1.3.7 (official build))]
Index: []

In [4]:
name_dict = {
  "E": 'event_time',
  "s": 'symbol',
  "t": 'trade_id',
  "p": "price",     
  "q": "quantity",       
  "b": 'buyer_order_id',
  "a": 'seller_order_id', 
  "T": 'trade_time', 
  "m": 'is_marker_maker'
}

In [16]:
query('''CREATE TABLE if not exists crypto.trade_data (

                            event_time           UInt64,
                            symbol              String,
                            trade_id           Float64,
                            price              Float64,
                            quantity           Float64,
                            buyer_order_id      UInt64,
                            seller_order_id     UInt64,
                            trade_time          UInt64,
                            is_marker_maker    Float64,
                            type                String
                            ) 
engine = MergeTree
ORDER BY event_time
''').text

''

In [17]:
query('''CREATE TABLE if not exists crypto.du_data (

                            event_time            UInt64,
                            symbol                String,
                            bid_first_q             Float64,
                            ask_first_q             Float64,
                            bid_first_p             Float64,
                            ask_first_p             Float64,
                            diff_p                  Float64,
                            diff_q                  Float64,
                            is_seller_pres_bid    Float64,
                            is_buyer_pres_bid     Float64,
                            is_seller_pres_ask    Float64,
                            is_buyer_pres_ask     Float64

                            ) 
engine = MergeTree
ORDER BY event_time
''').text

''

In [11]:
def upload_du(tmp,db = 'crypto.du_data'):
    tmp['b_first_q']=tmp['b'].explode().dropna().apply(lambda x: x[1] if x[1]!='0.00000000' else np.nan).groupby(level=0).first().astype(float)
    tmp['a_first_q']=tmp['a'].explode().dropna().apply(lambda x: x[1] if x[1]!='0.00000000' else np.nan).groupby(level=0).first().astype(float)

    tmp['b_first_p']=tmp['b'].explode().dropna().apply(lambda x: x[0] if x[1]!='0.00000000' else np.nan).groupby(level=0).first().astype(float)
    tmp['a_first_p']=tmp['a'].explode().dropna().apply(lambda x: x[0] if x[1]!='0.00000000' else np.nan).groupby(level=0).first().astype(float)

    tmp['diff_p']=tmp[['b_first_p','a_first_p']].diff(axis=1).iloc[:,-1]
    tmp['diff_q']=tmp[['b_first_q','a_first_q']].diff(axis=1).iloc[:,-1]

    tmp['is_seller_pres_bid']=tmp['b_first_q'].diff().apply(lambda x: x if x>0 else 0)
    tmp['is_buyer_pres_bid']=tmp[['b_first_q','b_first_p']].diff().apply(lambda x: abs(x['b_first_q']) *-1  if x['b_first_p'] <0 else 0,axis=1)

    tmp['is_seller_pres_ask']=tmp['a_first_q'].diff().apply(lambda x: x if x>0 else 0)
    tmp['is_buyer_pres_ask']=tmp[['a_first_q','a_first_p']].diff().apply(lambda x: abs(x['a_first_q']) *-1  if x['a_first_p'] <0 else 0,axis=1)
    tmp.drop(['e','u','U','b','a'],axis=1,inplace=True)
    tmp=tmp.rename(columns=name_dict)
    
    sample = ','.join(tuple(tmp.apply(lambda x: str(tuple(x)),axis=1).to_list()))
    query(f'INSERT INTO {db} VALUES {sample}')

In [30]:
def upload_trade(tmp,db='crypto.trade_data'):
    tmp=tmp.drop(['e','M'],axis=1)
    tmp['type'] = tmp['p'].astype(float).diff().where(lambda x: x!=0).fillna(method='ffill').mul(100).clip(-1,1).map({-1:'sell',1:'buy'})
    tmp=tmp.rename(columns=name_dict)
    
    sample = ','.join(tuple(tmp.apply(lambda x: str(tuple(x)),axis=1).to_list()))
    query(f'INSERT INTO {db} VALUES {sample}')

In [34]:
with open('data/data.txt') as file:
    n=0
    tmp_list = []
    for i in file:
        n+=1
        try:
                tmp_list.append(json.loads(i))
        except:
                print(f'{n}th line broken')
                pass
        if n % 200000 == 0:
            upload_du(pd.DataFrame(tmp_list).query('e=="depthUpdate"').dropna(axis=1))
            upload_trade(pd.DataFrame(tmp_list).query('e!="depthUpdate"').dropna(axis=1))
            
            print('du_data :',query('''select 
                    max(toDateTime64(event_time/1000,1)) as max,
                    count() as events,
                    uniq(event_time) as uniq
                    from crypto.du_data
                    ''').text)
                    
            print('trade_data :',query('''select 
                    max(toDateTime64(event_time/1000,1)) as max,
                    count() as events,
                    uniq(event_time) as uniq
                    from crypto.trade_data
                    ''').text)

            tmp_list = []

du_data : 2022-01-21 13:12:31.6	81249	80669

trade_data : 1970-01-01 03:00:00.0	0	0

du_data : 2022-01-21 15:31:02.6	163903	162211

trade_data : 2022-01-21 15:31:02.6	117346	74268

du_data : 2022-01-21 16:42:40.8	206856	205657

trade_data : 2022-01-21 15:31:02.6	117346	74268

du_data : 2022-01-21 18:22:12.0	266506	264958

trade_data : 2022-01-21 15:31:02.6	117346	74268

du_data : 2022-01-21 20:21:31.8	338037	336140

trade_data : 2022-01-21 20:21:31.8	245815	155976

du_data : 2022-01-21 22:29:16.2	414508	412418

trade_data : 2022-01-21 22:29:16.2	369344	236348

du_data : 2022-01-22 00:23:44.2	483060	481041

trade_data : 2022-01-22 00:23:44.2	500792	321677

du_data : 2022-01-22 00:59:26.5	504468	502991

trade_data : 2022-01-22 00:59:26.5	679384	417608

du_data : 2022-01-22 01:55:09.6	537862	537684

trade_data : 2022-01-22 01:55:09.7	845990	504197

du_data : 2022-01-22 03:11:23.3	583568	584152

trade_data : 2022-01-22 03:11:23.3	1000284	599647

du_data : 2022-01-22 05:14:12.0	657069	657825

trade_data : 2022-01-22 05:14:12.1	1126783	679219

du_data : 2022-01-22 07:12:26.1	727639	729324

trade_data : 2022-01-22 05:14:12.1	1126783	679219

du_data : 2022-01-22 09:07:44.2	796261	798035

trade_data : 2022-01-22 09:07:44.2	1258161	765701

du_data : 2022-01-22 10:31:48.3	846654	848858

trade_data : 2022-01-22 10:31:48.3	1407768	859475

du_data : 2022-01-22 12:04:53.6	902414	904193

trade_data : 2022-01-22 12:04:53.7	1552008	954136

du_data : 2022-01-22 13:07:28.9	939930	942528

trade_data : 2022-01-22 13:07:29.0	1714492	1044636

du_data : 2022-01-22 13:42:23.1	960864	963815

trade_data : 2022-01-22 13:42:23.1	1893558	1153303

du_data : 2022-01-22 14:57:03.9	1005627	1008418

trade_data : 2022-01-22 14:57:03.9	2048795	1253494

du_data : 2022-01-22 16:23:38.5	1057520	1068037

trade_data : 2022-01-22 16:23:38.6	2196902	1347547

du_data : 2022-01-22 18:12:47.8	1122895	1131245

trade_data : 2022-01-22 18:12:47.9	2331527	1434369

du_data : 2022-01-22 19:38:39.0	1174348	1183573

trade_data : 2022-01-22 18:12:47.9	2331527	1434369

du_data : 2022-01-22 21:21:09.6	1235759	1244035

trade_data : 2022-01-22 18:12:47.9	2331527	1434369

du_data : 2022-01-22 23:16:14.6	1304604	1311402

trade_data : 2022-01-22 18:12:47.9	2331527	1434369

du_data : 2022-01-23 01:10:19.7	1372682	1377589

trade_data : 2022-01-23 01:10:19.7	2463449	1514694

du_data : 2022-01-23 03:45:54.7	1464734	1471821

trade_data : 2022-01-23 03:45:54.6	2571397	1586483

du_data : 2022-01-23 06:21:59.9	1557369	1565594

trade_data : 2022-01-23 06:21:59.9	2678762	1659654

du_data : 2022-01-23 09:01:58.8	1651712	1660259

trade_data : 2022-01-23 09:01:58.3	2784419	1727912

du_data : 2022-01-23 11:12:33.1	1729475	1739584

trade_data : 2022-01-23 11:12:33.1	2906656	1801853

5652507th line broken
du_data : 2022-01-23 13:12:06.4	1797385	1808341

trade_data : 2022-01-23 13:12:06.4	3038745	1885208

du_data : 2022-01-23 15:44:14.2	1887664	1898437

trade_data : 2022-01-23 15:44:14.2	3148466	1958292

du_data : 2022-01-23 18:04:12.0	1970890	1979268

trade_data : 2022-01-23 15:44:14.2	3148466	1958292

du_data : 2022-01-23 21:00:45.1	2075180	2083399

trade_data : 2022-01-23 15:44:14.2	3148466	1958292

du_data : 2022-01-23 23:15:33.1	2155506	2158754

trade_data : 2022-01-23 23:15:33.2	3268140	2030721

du_data : 2022-01-24 02:05:13.7	2255360	2255923

trade_data : 2022-01-24 02:05:13.7	3368286	2097256

du_data : 2022-01-24 03:37:09.3	2310385	2313285

trade_data : 2022-01-24 03:37:09.4	3513261	2185088

du_data : 2022-01-24 06:24:13.5	2409430	2417444

trade_data : 2022-01-24 06:24:13.5	3614216	2246478

du_data : 2022-01-24 09:20:14.6	2513427	2520925

trade_data : 2022-01-24 09:20:14.7	3710219	2305752

du_data : 2022-01-24 11:48:34.4	2601623	2608376

trade_data : 2022-01-24 09:20:14.7	3710219	2305752

du_data : 2022-01-24 13:12:18.1	2651822	2659936

trade_data : 2022-01-24 13:12:18.1	3860020	2386438

du_data : 2022-01-24 14:09:18.2	2686010	2692877

trade_data : 2022-01-24 14:09:18.3	4025832	2475616

du_data : 2022-01-24 15:38:44.1	2739613	2747146

trade_data : 2022-01-24 15:38:43.9	4172229	2564964

du_data : 2022-01-24 16:45:51.5	2779866	2786960

trade_data : 2022-01-24 15:38:43.9	4172229	2564964

du_data : 2022-01-24 18:01:38.0	2825309	2834579

trade_data : 2022-01-24 18:01:38.0	4326786	2652392

du_data : 2022-01-24 19:22:26.3	2873768	2881813

trade_data : 2022-01-24 19:22:26.3	4478327	2738004

du_data : 2022-01-24 20:40:49.6	2920774	2928461

trade_data : 2022-01-24 20:40:49.6	4631321	2823021

du_data : 2022-01-24 21:49:12.2	2961780	2969019

trade_data : 2022-01-24 21:49:12.2	4790315	2912556

du_data : 2022-01-24 23:31:30.7	3023065	3029112

trade_data : 2022-01-24 23:31:30.7	4929030	2997583

du_data : 2022-01-25 00:54:30.9	3072744	3081949

trade_data : 2022-01-25 00:54:30.9	5079351	3079555

du_data : 2022-01-25 03:11:28.3	3154188	3163981

trade_data : 2022-01-25 03:11:28.4	5197907	3157117

du_data : 2022-01-25 05:37:38.4	3241359	3246388

trade_data : 2022-01-25 03:11:28.4	5197907	3157117

du_data : 2022-01-25 08:33:53.9	3345877	3352646

trade_data : 2022-01-25 08:33:53.5	5293389	3215018

du_data : 2022-01-25 11:17:10.4	3442929	3450410

trade_data : 2022-01-25 08:33:53.5	5293389	3215018

du_data : 2022-01-25 13:31:04.5	3523085	3529650

trade_data : 2022-01-25 08:33:53.5	5293389	3215018

du_data : 2022-01-25 15:45:15.1	3603319	3611426

trade_data : 2022-01-25 15:45:15.1	5413155	3294045

du_data : 2022-01-25 17:36:09.7	3669717	3678651

trade_data : 2022-01-25 17:36:09.7	5546757	3382565

du_data : 2022-01-25 18:54:53.8	3716930	3726719

trade_data : 2022-01-25 18:54:53.9	5699544	3472104

du_data : 2022-01-25 20:48:48.2	3785196	3788085

trade_data : 2022-01-25 18:54:53.9	5699544	3472104

du_data : Code: 60. DB::Exception: Table crypto.du_data doesn't exist. (UNKNOWN_TABLE) (version 22.1.3.7 (official build))

trade_data : Code: 60. DB::Exception: Table crypto.trade_data doesn't exist. (UNKNOWN_TABLE) (version 22.1.3.7 (official build))

du_data : Code: 60. DB::Exception: Table crypto.du_data doesn't exist. (UNKNOWN_TABLE) (version 22.1.3.7 (official build))

trade_data : Code: 60. DB::Exception: Table crypto.trade_data doesn't exist. (UNKNOWN_TABLE) (version 22.1.3.7 (official build))

du_data : Code: 60. DB::Exception: Table crypto.du_data doesn't exist. (UNKNOWN_TABLE) (version 22.1.3.7 (official build))

trade_data : Code: 60. DB::Exception: Table crypto.trade_data doesn't exist. (UNKNOWN_TABLE) (version 22.1.3.7 (official build))

du_data : Code: 60. DB::Exception: Table crypto.du_data doesn't exist. (UNKNOWN_TABLE) (version 22.1.3.7 (official build))

trade_data : Code: 60. DB::Exception: Table crypto.trade_data doesn't exist. (UNKNOWN_TABLE) (version 22.1.3.7 (official build))

du_data : Code: 60. DB::Exception: Table crypto.du_data doesn't exist. (UNKNOWN_TABLE) (version 22.1.3.7 (official build))

trade_data : Code: 60. DB::Exception: Table crypto.trade_data doesn't exist. (UNKNOWN_TABLE) (version 22.1.3.7 (official build))

du_data : Code: 60. DB::Exception: Table crypto.du_data doesn't exist. (UNKNOWN_TABLE) (version 22.1.3.7 (official build))

trade_data : Code: 60. DB::Exception: Table crypto.trade_data doesn't exist. (UNKNOWN_TABLE) (version 22.1.3.7 (official build))

In [11]:
from io import BytesIO

In [15]:
zz=pd.read_csv(BytesIO(query('''select 
                    * from system.tables
                    format CSVWithNames
                    ''').content))

In [18]:
zz['name'].unique()

array(['COLUMNS', 'SCHEMATA', 'TABLES', 'VIEWS', 'binancews_du',
       'binancews_trade', 'du_data', 'trade_data', 'columns', 'schemata',
       'tables', 'views', 'aggregate_function_combinators',
       'asynchronous_inserts', 'asynchronous_metric_log',
       'asynchronous_metrics', 'build_options', 'clusters', 'collations',
       'contributors', 'current_roles', 'data_skipping_indices',
       'data_type_families', 'databases', 'detached_parts',
       'dictionaries', 'disks', 'distributed_ddl_queue',
       'distribution_queue', 'enabled_roles', 'errors', 'events',
       'formats', 'functions', 'grants', 'graphite_retentions',
       'licenses', 'macros', 'merge_tree_settings', 'merges',
       'metric_log', 'metrics', 'models', 'mutations', 'numbers',
       'numbers_mt', 'one', 'part_log', 'part_moves_between_shards',
       'parts', 'parts_columns', 'privileges', 'processes',
       'projection_parts', 'projection_parts_columns', 'query_log',
       'query_thread_log', 'quota_limits', 'quota_usage', 'quotas',
       'quotas_usage', 'replicas', 'replicated_fetches',
       'replicated_merge_tree_settings', 'replication_queue', 'rocksdb',
       'role_grants', 'roles', 'row_policies', 'session_log', 'settings',
       'settings_profile_elements', 'settings_profiles', 'stack_trace',
       'storage_policies', 'table_engines', 'table_functions',
       'time_zones', 'trace_log', 'user_directories', 'users', 'warnings',
       'zeros', 'zeros_mt'], dtype=object)